# Use our custom-configured c++ toolchains.
# Use a build config as a differentiator.
build:clang14 --extra_toolchains=//bazel/toolchains/clang14:clang14_toolchain_for_linux_x86_64 --incompatible_enable_cc_toolchain_resolution
build:clang14 --copt="-std=c++17" --copt="-Wall"

build:gcc12 --extra_toolchains=//bazel/toolchains/gcc12:gcc12_toolchain_for_linux_x86_64 --incompatible_enable_cc_toolchain_resolution
build:gcc12 --copt="-std=c++17" --copt="-Wall"

# Mac OS toolchain configurations
# clang 15 configurations
build:osx_clang15_aarch64 --extra_toolchains=//bazel/toolchains/clang15:clang15_toolchain_for_osx_aarch64 --incompatible_enable_cc_toolchain_resolution
build:osx_clang15_aarch64 --copt="-std=c++17" --copt="-Wall"

# gcc configurations
build:gcc12_osx_x86_64 --extra_toolchains=//bazel/toolchains/gcc12:gcc12_toolchain_for_osx_x86_64 --incompatible_enable_cc_toolchain_resolution
build:gcc12_osx_x86_64 --copt="-std=c++17" --copt="-Wall"

build:gcc12_osx_aarch64 --extra_toolchains=//bazel/toolchains/gcc12:gcc12_toolchain_for_osx_aarch64 --incompatible_enable_cc_toolchain_resolution
build:gcc12_osx_aarch64 --copt="-std=c++17" --copt="-Wall"

# debug build config
build:debug --strip=never --copt="-O0" --copt="-ggdb" -c dbg
